{% extends 'hosbase/base.html' %}


{% block content %}
 <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">วัน/เดือน/ปี</th>
      <th scope="col">ชื่อ - นามสกุล</th>
      <th scope="col">เบาหวาน</th>
      <th scope="col">ความดัน</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>เสี่ยง</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


{% endblock content %}